.visuallyHidden {
  position: absolute;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.primaryHeader {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2); /* add a box shadow for a subtle effect */
}
.primaryHeader h1 {
  font-size: var(--fs-400);
}

.topHeader {
  height: 90px;
  padding: var(--size-500) var(--size-800);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topHeader img {
  height: 85px;
}
.mobileNavToggle {
  display: none;
}
.displayBlock {
  display: block;
}
.displayNone {
  display: none;
}

.primaryNavigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}
.navList {
  margin: 0px;
  padding: var(--size-400);
  list-style: none;
  display: flex;
  gap: 15px;
}
.navList a {
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neutral-700);
  font-weight: var(--fw-bold);
}

.navList a:hover {
  animation: underline 0.5s ease forwards;
}
.navList a.activeLink {
  border-bottom: 2.5px solid var(--clr--primary-400);
}

@keyframes underline {
  0% {
    border-bottom: 2px solid transparent;
    width: 0;
  }
  100% {
    border-bottom: 2px solid var(--clr--primary-400);
    width: 100%;
  }
}

@media (max-width: 37.5rem) {
  .buttonContainer {
    padding: 10px;
  }

  .primaryNavigation {
    display: none;
  }
  .secondaryNavigation {
    display: block;
    inset: 7rem var(--size-400) auto;
    background-color: var(--clr-very-light-gray);
    border-radius: var(--size-100);
    padding: var(--size-700);
    position: absolute;
    z-index: 1;
  }
  .navList {
    flex-direction: column !important;
  }
  .mobileNavToggle {
    display: block;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0.5em;
  }
  .mobileNavToggle img {
    /* width: 21px;
    height: 22px; */
  }
}

@media (min-width: 601px) {
  .secondaryNavigation {
    display: none !important;
  }
}
.main {
  margin-top: 125px;
}
