.visuallyHidden {
  position: absolute;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.primaryHeader {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2); /* add a box shadow for a subtle effect */
}
.primaryHeader h1 {
  font-size: var(--fs-400);
}

.topHeader {
  height: 90px;
  padding: var(--size-500) var(--size-800);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topHeader img {
  max-height: 85px;
}
.mobileNavToggle {
  display: none;
}
.displayBlock {
  display: block;
}
.displayNone {
  display: none;
}

.primaryNavigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}
.navList {
  margin: 0px;
  padding: var(--size-400);
  list-style: none;
  display: flex;
  gap: 15px;
}
.navList a {
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neutral-700);
  font-weight: var(--fw-bold);
}

.navList a:hover {
  animation: underline 0.5s ease forwards;
}
.navList a.activeLink {
  border-bottom: 2.5px solid var(--clr--primary-400);
}

@keyframes underline {
  0% {
    border-bottom: 2px solid transparent;
    width: 0;
  }
  100% {
    border-bottom: 2px solid var(--clr--primary-400);
    width: 100%;
  }
}

@media (max-width: 37.5rem) {
  .buttonContainer {
    padding: 10px;
  }

  .primaryNavigation {
    display: none;
  }
  .secondaryNavigation {
    /* left: 1rem; */
    top: 60px;
    /* height: 100vh; */
    left: 0px;
    width: 100%;
    position: fixed;
    display: block;
    background-color: var(--clr-neutral-400);
    z-index: 1000;
    padding: 20px;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  }
  .secondaryNavigation nav {
    right: 0px;
    text-decoration: none;
    display: grid;
    place-items: center;
  }
  .navList {
    flex-direction: column;
  }
  .mobileNavToggle {
    display: block;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0.5em;
  }
  .mobileNavToggle:hover {
    border: none;
  }
  .mobileList {
    list-style: circle;

    text-align: center;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.75rem;
  }
  .mobileList li {
    left: 0;
    display: flex;
    text-align: center;
    margin-bottom: 2rem;

    /* background-color: green; */
  }
  .mobileList li a {
    /* background-color: red; */
    text-decoration: none;
    color: var(--clr-primary-500);
  }
  .topHeader {
    z-index: 1;
    height: 60px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .topHeader img {
    max-height: 55px;
  }
}

@media (min-width: 601px) {
  .secondaryNavigation {
    display: none !important;
  }
}
