:root {
  --clr--primary-400: hsl(133, 80%, 43%);

  --clr-neutral-400: rgb(255, 255, 255);
  --clr-neutral-700: hsl(226, 48%, 11%);

  --fs-400: 1.25rem;
  --fs-500: 2rem;
  --fs-600: 3rem;
  --fs-700: 4rem;
  --fs-800: 5rem;

  --ff-primary: "Be Vietnam Pro", sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --size-400: 0.875rem;
  --size-500: 1rem;
  --size-700: 1.75rem;
  --size-800: 2rem;

  --container-pad-400: 8rem;
  --container-pad-100: 3rem;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  position: relative;
  font-family: var(--ff-primary);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
/* ul[role="list"],
ol[role="list"] {
  list-style: none;
} */
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
